body {
	margin: 0px;
	padding: 0px;
	background-color: #2B308E;
}
#header {
	height: 80px;
	width: 995px;
	padding-top: 5px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0081EC;
}
#content {
	display: none;
	width: 970px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
#orders {
	margin-left: 20px;	
}
.banner {
	display: none;
	width: 984px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	border: 3px solid #005000;
	color: black;
}
.btn {
	font-family: Arial;
	color: #2B308E;
	font-size: 20px;
	background: #F8E251;
	padding: 10px 20px 10px 20px;
	float: right;
	cursor: pointer;
}
.btn:hover {
	background: #EBCC00;
}
#login_banner {
	background-color: orange;
	border: 2px solid #835400;
}
#error_banner {
	border: 2px solid #800000;
	background-color: red;
}
.warn {
	color: red;
}
.hidden {
	display: none;
}
p {
	margin: 0px;
	font-family:"Helvetica", Times, serif; 
	font-size:100%;
}
h1 {
	margin-top: 10px;
	margin-right: 500px;
	float: right;
	color: white;
	font-family:"Helvetica", Times, serif; 
	font-size: 40px;
}
h2 {
	margin: 0px;
	font-family:"Helvetica", Times, serif; 
	font-size:100%;
}
h3 {
	color: black;
	margin-top: 0px;
	font-family:"Helvetica", Times, serif; 
	font-size:150%;
}