body {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	background-color: #2D3288;
	color: #2D3288;
}

.login-form {
	/* display: flex;            establish flex container 
    justify-content: center;  center items vertically, in this case 
    margin-right: 7%;
    margin-left: 7%; */
    width: 350px;
    margin: 0 auto;
}

.login-position {
    margin-top: 7%;
    padding: 25px;
    background-color: #F8F9F9;
    border-radius: 2px;
}

#login_banner {
	display: none;
	background-color: orange;
}

#error_banner {
	background-color: red;
}

#logout_banner {
	display: none;
	background-color: green;
}

#welcome_banner {
	display: none;
	background-color: green;
}

#btnLoginFacebook {

}

.login-social {
	display: flex;           /* establish flex container */
    justify-content: space-between; /* center items vertically, in this case */
}

.login-button {
	cursor: pointer;
    border-radius: 3px;
    width: 136px;
    height: 38px;
    line-height: 36px;
    float: left;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-align: center;
    color:#fff;
}

.login-button.google {
	background-color:#e0492f;
}

.login-button.facebook {
	background-color:#395697;
}

.icon-container {
	border-right: 1px solid rgba(12,13,14,0.1);
    box-sizing: border-box;
    width: 38px;
    height: 100%;
    line-height: 1;
    padding: 10px 0;
    float: left;
}

a:link, a:visited, a:active {
	color: #2D3288;
}

a:hover {
	color: grey;
}