body {
	background-color: #FAFAFA;
}

h1 {
	background-color: lightblue; font-family:"Helvetica", Times, serif; font-size:200%;
}
h2 {
	background-color: lightblue; font-family:"Helvetica", Times, serif; font-size:150%;
}

p {
	background-color: lightblue; font-family:"Helvetica", Times, serif; font-size:100%;
}

a {
	background-color: red; font-family:"Helvetica", Times, serif; font-size:100%;
}